@charset "UTF-8";

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: blueviolet;
    background-color: rgb(181, 137, 223);
}

h2 {
  color: rgb(175, 118, 230);
}
